name: Dynmap Auto Commit

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "*/2 * * * *" # every 2 minutes

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        fetch-depth: 0

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install dependencies
      run: npm install

    - name: Run scraper
      run: node sigma.js

    - name: Commit and Push results
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"

        git add processed_dynmap/*.json
        git add processed_dynmap/index.json

        if git diff --cached --quiet; then
          echo "No changes, skipping commit"
          exit 0
        fi

        git commit -m "Automatic dynmap update"
        git push origin main
